body{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    height: 1368px;
}

.title{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px #7B7B7B29;
}

.subtitle{
    position: absolute;
    top: 70px;
    width: 100vw;
    height: 100px;

}

.tasks{
    position: relative;
    font-size: 40px;
    top: 10px;
    left: 100px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
}

.list{
    position: relative;
    font-size: 40px;
    top:10px;
    left: 100px;
    font-weight: bold;
    color: #00A5EC;
    background-color: #ffffff;
}

.circle{
    position: absolute;
    top: 20px;
    left: 990px;
}

.circle:hover{
    cursor: pointer;
}

.addnewtask{
    position: absolute;
    top: 30px;
    left: 1040px;
    font-size: 22px;
    font-weight: 500;
}

.addnewtask:hover{
    cursor: pointer;
} 

.cards{
    width: 100vw;
    position: absolute;
    top: 170px;
}

.card1{
    position:absolute;
    left: 100px;
    background-color: #ffffff;
    height: 360px;
    width:350px;
    border-radius: 10px;
    border-color: #ffffff;
    border: 1px solid #EDEDED;
}
.card1:hover{
    box-shadow: 0px 0px 20px lightgray;
}

.card2{
    position:absolute;
    left: 465px;
    background-color: #ffffff;
    height: 360px;
    width:350px;
    border-radius: 10px;
    border-color: #ffffff;
    border: 1px solid #EDEDED;
}

.card2:hover{
    box-shadow: 0px 0px 20px lightgray;
}

.card3{
    position:absolute;
    margin-left: 830px;
    background-color: #ffffff;
    height: 360px;
    width:350px;
    border-radius: 10px;
    border-color: #ffffff;
    border: 1px solid #EDEDED;
}

.card3:hover{
    box-shadow: 0px 0px 20px lightgray;
}

.card4{
    position:absolute;
    margin-left: 100px;
    margin-top: 375px;
    background-color: #ffffff;
    height: 360px;
    width:350px;
    border-radius: 10px;
    border-color: #ffffff;
    border: 1px solid #EDEDED;
}

.card4:hover{
    box-shadow: 0px 0px 20px lightgray;
}

.card5{
    position:absolute;
    margin-left: 465px;
    margin-top: 375px;
    background-color: #ffffff;
    height: 360px;
    width:350px;
    border-radius: 10px;
    border-color: #ffffff;
    border: 1px solid #EDEDED;
}

.card5:hover{
    box-shadow: 0px 0px 20px lightgray;
}

.heading{
    position: absolute;
    background-color: #ffffff;
    color: #00A5EC;
    border-bottom: 1px solid whitesmoke;
    padding-left: 30px;
    top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    width: 320px;
}
.checkbox{
    position:absolute;
    top: 150px;
    left:30px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
} 



.checkbox2{
    position:absolute;
    top: 210px;
    left:30px; 
    height: 30px;
    width: 30px;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #EDEDED;
    background-color: #f7f7f7;
}

.opt1{
    
    position: absolute;
    top: 158px;
    left: 75px;
    font-size: 18px;
    color: #C2C2C2;
    text-decoration: line-through;
    background-color: #ffffff;
}

.opt2{
    position:absolute;
    top: 217px;
    left: 75px; 
    font-size: 18px;
    background-color: #ffffff;
}

.formbutton{
    position: absolute;
    height: 1368px;
    width: 100vw;
    text-decoration: none;
    color: black;
}

