body{
    margin:0;
    padding:0;
    box-sizing: content-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    height: 1368px;
}

.title{
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 90px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px #7B7B7B29;
}

.subtitle{
    position: absolute;
    top: 90px;
    width: 100vw;
    height: 120px;

}

.tasks{
    position: relative;
    font-size: 45px;
    top: 20px;
    left: 130px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
}

.list{
    position: relative;
    font-size: 45px;
    top:20px;
    left: 130px;
    font-weight: bold;
    color: #00A5EC;
    background-color: #ffffff;
}

.backbutton{
    position: absolute;
    top: 45px;
    left: 420px;
    font-size: 35px;
}

.back{
    position: absolute;
    top: 50px;
    left: 460px;
    font-size: 25px;
    font-weight: 500;
    color: black;
}
.circle{
    position: absolute;
    top: 40px;
    left: 720px;
}

.circle:hover{
    cursor: pointer;
}

.addnewtask{
    position: relative;
    top: 50px;
    left: 770px;
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.addnewtask:hover{
    cursor: pointer;
} 

.card1{
    position:absolute;
    top: 230px;
    left: 400px;
    background-color: #ffffff;
    height: 350px;
    width:530px;
    border-radius: 12px;
    border-color: #ffffff;
    border: 1px solid #EDEDED;
}
.card1:hover{
    box-shadow: 0px 0px 20px lightgray;
}


.heading{
    position: absolute;
    background-color: #ffffff;
    color: #00A5EC;
    border-bottom: 1px solid whitesmoke;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    width: 100%;
}
.checkbox{
    position:absolute;
    top: 150px;
    left:30px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
} 


.checkbox2{
    position:absolute;
    top: 210px;
    left:30px; 
    height: 30px;
    width: 30px;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #EDEDED;
    background-color: #f7f7f7;
}

.opt1{
    
    position: absolute;
    top: 156px;
    left: 95px;
    font-size: 22px;
    color: #C2C2C2;
    text-decoration: line-through;
    background-color: #ffffff;
}

.opt2{
    position:absolute;
    top: 215px;
    left: 95px; 
    font-size: 22px;
    background-color: #ffffff;
    color: black;
}


.formbutton{
    position: absolute;
    height: 1368px;
    width: 100vw;
    text-decoration: none;
    color: black;
}

.blur{
    background-color: black;
    opacity: 0.6;
    height: 1368px;;
    width: 100vw;
    position: absolute;
    z-index: 1;
}


/*--------------------------------------------------------------*/

.addnewtask2{
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 530px;
    height: 275px;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    color: black;
}

.title2{
    text-align: left;
    font-size: 26px;
    position: absolute;
    width: 510px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid whitesmoke;
}

.input-text{
    font-size: 20px;
    position: absolute;
    top: 90px;
    left: 20px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    width: 470px;
    color:#858585;
    background-color: #F7F7F7;
}

.button-add{
    position: absolute;
    top: 180px;
    right: 20px;
    width:180px;
    height: 50px;
    background-color: #00A5EC;
    border-radius: 5px;
    border: 0px solid white;
    font-size: 20px;
    color: white;
}

.close-button{
    font-size: 36px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: black;
}